body {
    text-align: center;
    list-style-position: inside;
    padding: 0;
    margin: 0 auto;
    font-family: 'Pacifico', sans-serif;
    font-size: 0.8em;
    background-image: url(catpattern.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.topheader {
    width: 100%;
    height: 40px;
    background-color: lightskyblue;
}

.centerline {
    position: relative;
    background-color: lightskyblue;
    width: 20%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;

}

img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 10px solid lightskyblue
}